<footer class="main-footer">
	<div class="container-fluid">

		<div class="row justify-content-lg-between">


			<div class="col-md-12 col-xl-4">

				<div class="main-footer__logo-block">
					<span class="main-footer__logo">keanu</span>
					<span>|</span>
					<span class="main-footer__motto">Bring people together.</span>
				</div>

				<!-- Language dropdown -->
				<div class="main-footer__language-block">
					<span><i class="fas fa-globe"></i></span>
					<div class="dropdown">
						<a href="#" class="selected">English &ensp; <i class="fas fa-angle-down"></i></a>
						<div class="dropdown__content">
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-12 col-xl-8">
				<div class="main-footer__right">
					<!-- Footer navigation -->
					<nav class="main-footer__menu">
						<ul class="footer-menu">
							<li><a href="{{ site.baseurl }}">Home</a></li>
              <li><a href="#">5 Things to Know</a></li>
							<li><a href="#">Reach out</a></li>
						</ul>
					</nav>

					<!-- Footer copyright -->
					<div class="main-footer__policy">
						<span class="main-footer__copy">Copyright {{ site.time | date: '%Y' }} Guardian Project</span>
						<span class="divider">|</span>
						<span><a href="https://guardianproject.info/privacy">Privacy Policy</a></span>
						<span class="divider">|</span>
            <span><a href="https://gitlab.com/keanuapp" target="_blank" rel="noopener nofollower">Open Source Code</a></span>
						<span><a title="Visit our GitLab!" href="https://gitlab.com/keanuapp"><i class="fab fa-gitlab fa-lg"></i></a></span>
					</div>

				</div>
			</div>

		</div>

	</div>
</footer>
